.navbar {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	padding: 10px;
	background-color: var(--navbar-bg-col);
}

.navbar__item {
	text-decoration: none;
	cursor: pointer;
	font-size: 1.5rem;
	color: white;
	border-bottom: 5px solid var(--navbar-bg-col);
}

.navbar__item:hover {
	border-bottom: 5px solid blue;
}
